<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Angular Comment App</title>
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
  <link href="http://127.0.0.1:3000/css/site.css" rel="stylesheet">
  <style>
      body {
          padding-left: 20px;
          font-size: 18px;
      }

      .row > div {
          height: 100px;
      }
  </style>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
  <script src="comments.js"></script>
</head>
<body ng-app="commentApp">
<div ng-controller="CommentCtrl" class="container mt-3">
  <div class="copyright">
    <h1 class="title">Submit a Comment to a Feature</h1>
  </div>
  <div class="mb-3">
    <label class="letterfont" for="comment">Comment:</label>
    <textarea class="form-control" id="comment" ng-model="data.body" rows="3" placeholder="Write your comment here"></textarea>
  </div>
  <div class="mb-3">
    <label class="letterfont" for="feature_id">Feature ID:</label>
    <input class="form-control" type="number" id="feature_id" ng-model="featureId">
  </div>
  <div ng-if="result" class="alert alert-success" role="alert">
    {{ result }}
  </div>
  <div ng-if="error" class="alert alert-danger" role="alert">
    {{ error }}
  </div>
  <div class="copyright">
    <button class="btn btn-primary" type="button" ng-click="submitComment()">Submit Comment</button>
  </div>

</div>
</body>
</html>