<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Features List</title>
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
  <link href="http://127.0.0.1:3000/css/site.css" rel="stylesheet">
  <style>
      body {
          padding-left: 20px;
          font-size: 18px;
      }

      .row > div {
          border: 1px solid gray;
          background: #aaa;
          color: white;
          height: 100px;
      }
  </style>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
  <script src="features.js"></script>
</head>
<body ng-app="featuresApp">
  <div ng-controller="ItemsCtrl" class="main_content">
    <div class="copyright">
      <h1 class="title">Features</h1>
    </div>
    <div ng-if="totalPages > 1"  class="copyright container mt-3">
      <button ng-click="prevPage()" ng-disabled="currentPage === 1" class="btn btn-primary">Previous</button>
      <span class="version"> {{ currentPage }} / {{ totalPages }}</span>
      <button ng-click="nextPage()" ng-disabled="currentPage === totalPages" class="btn btn-primary">Next</button>
    </div>
    <div class="hero-inner">
    <ul>
      <li ng-repeat="item in items" >
        <span class="title"> ID: {{ item.id }} </span>
        <ul ng-if="item.attributes" class="fattributes">
          <li><span class="title">Title:
            {{ item.attributes.title }}</span>
          </li>
          <li>External ID:
            {{ item.attributes.external_id }}
          </li>
          <li>Magnitude:
            {{ item.attributes.magnitude }}
          </li>
          <li>Place:
            {{ item.attributes.place }}
          </li>
          <li>Time:
            {{ item.attributes.time }}
          </li>
          <li>Tsunami:
            {{ item.attributes.tsunami }}
          </li>
          <li>Magnitude Type:
            {{ item.attributes.mag_type | uppercase }}
          </li>
          <li>Coordinates:
            <ul>
              <li class="version">longitude: {{item.attributes.coordinates.longitude}}</li>
              <li class="version">latitude: {{item.attributes.coordinates.latitude}}</li>
            </ul>
          </li>

        </ul>
      </li>
    </ul>
    </div>
    <div ng-if="totalPages > 1" class="copyright container mt-3">
      <button ng-click="prevPage()" ng-disabled="currentPage === 1" class="btn btn-primary">Previous</button>
      <span class="version"> {{ currentPage }} / {{ totalPages }}</span>
      <button ng-click="nextPage()" ng-disabled="currentPage === totalPages" class="btn btn-primary">Next</button>
    </div>
  </div>
</body>
</html>